STAC_URL=""
ENV=""
CORS_ORIGIN=""
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION="us-east-1"
S3_ENDPOINT_URL="http://localhost:4566"
S3_BUCKET_NAME="biotablero-download-files"
CONNECT_TIMEOUT=5
READ_TIMEOUT=10
RETRY_MAX_ATTEMPTS=1
RETRY_MODE="standard"