STAC_URL=  # STAC server URL
ENV= # Execution Environment
CORS_ORIGIN= # CORS origin values
DB_USER= # Database username 
DB_PASSWORD= # Database password 
DB_NAME= # Database name 
DB_HOST= # Database host
DB_PORT= # Database port (default for PostgreSQL)
AWS_ACCESS_KEY_ID= # id of the blob storage for the layers
AWS_SECRET_ACCESS_KEY=# key of the blob storage for the layers
AWS_REGION=us-east-1 # blob storate region
S3_ENDPOINT_URL=http://localhost:4566 # blob storage url
S3_BUCKET_NAME=biotablero-download-files # blob storage container name
CONNECT_TIMEOUT=5
READ_TIMEOUT=10
RETRY_MAX_ATTEMPTS=1
RETRY_MODE=standard
